narcisa-records/*
!narcisa-records/README.md
!narcisa-records/baptismos-1856/
!narcisa-records/casamento/

narcisa-records/baptismos-1856/*
!narcisa-records/baptismos-1856/PT-ADLRA-PRQ-PANS08-001-0004_page_0070.jpg

narcisa-records/casamento/*
!narcisa-records/casamento/1878/
narcisa-records/casamento/1878/*
!narcisa-records/casamento/1878/PT_ADLRA_PRQ_PANS08_002_0022_m0006.jpg

!narcisa-records/baptismos-1810-1842/
narcisa-records/baptismos-1810-1842/*
!narcisa-records/baptismos-1810-1842/PT-ADLRA-PRQ-PANS08-001-0003_m0020.jpg

!narcisa-records/casamento-pais/
narcisa-records/casamento-pais/*
!narcisa-records/casamento-pais/PT-ADLRA-PRQ-PANS08-002-0003_m0053.jpg

!narcisa-records/obitos-1878-1911/
narcisa-records/obitos-1878-1911/*
!narcisa-records/obitos-1878-1911/1891/
!narcisa-records/obitos-1878-1911/1896/
!narcisa-records/obitos-1878-1911/1903/
narcisa-records/obitos-1878-1911/1891/*
narcisa-records/obitos-1878-1911/1896/*
narcisa-records/obitos-1878-1911/1903/*
!narcisa-records/obitos-1878-1911/1891/PT_ADLRA_PRQ_PANS08_003_0035_m0002.jpg
!narcisa-records/obitos-1878-1911/1891/PT_ADLRA_PRQ_PANS08_003_0035_m0003.jpg
!narcisa-records/obitos-1878-1911/1896/PT_ADLRA_PRQ_PANS08_003_0040_m0005.jpg
!narcisa-records/obitos-1878-1911/1903/PT-ADLRA-PRQ-PANS08-003-0047_m0007.jpg
